body {
    background-color: silver;
  }
  h1 {
    text-align: center;
    color: grey;
    font-size: 250%;
  }  
p { color: black; } 

#mijncv { background-color: lightblue; }

.mijnKlasse { font-size: 24px; } 

h1, h2, h3 { color: green; } 

* { margin: 0; padding: 0; }  

div p { text-align: left; }  

div > p { text-align: left; } 

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  background-color: white;
}

.flex-container > div {
  background-color: whitesmoke;
  width: 100px;
  margin: 10px;
  text-align: left;
  line-height: 75px;
  font-size: 30px;
}
